In [1]:
import pandas as pd

In [26]:
import numpy as np

In [127]:
studentfile = "C:/Users/clara/Documents/GitHub/pandas-challenge/Starter_Code/PyCitySchools/Resources/students_complete.csv"

In [150]:
studentfile_df = pd.read_csv(studentfile)
studentfile_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [151]:
#Total number of unique schools
uniqueschools = len(studentfile_df["school_name"].unique())
uniqueschools

15

In [152]:
#Total students
totalstudents = len(studentfile_df["student_name"])
totalstudents

39170

In [153]:
#Average math score
avmath = studentfile_df["math_score"].mean()
round(avmath, 1)

79.0

In [154]:
#Average reading score
avread = studentfile_df["reading_score"].mean()
round(avread, 1)

81.9

In [168]:
#% passing math (the percentage of students who passed math)
mathpasstotal = sum(studentfile_df["math_score"] >= 70)
mathpassperc = round(mathpasstotal/totalstudents*100, 2)
print(str(mathpassperc) + "%")

74.98%

In [156]:
#% passing reading (the percentage of students who passed reading)
readpasstotal = sum(studentfile_df["reading_score"] >= 70)
readpassperc = round(readpasstotal/totalstudents*100, 2)
print(str(readpassperc) + "%")

85.81%

In [157]:
#% overall passing (the percentage of students who passed math AND reading)
fullpasstotal = sum((studentfile_df["reading_score"] >= 70) & (studentfile_df["math_score"] >= 70))
fullpassperc = round(fullpasstotal/totalstudents*100, 2)
print(str(fullpassperc) + "%")

65.17%

In [158]:
schoolfile = "C:/Users/clara/Documents/GitHub/pandas-challenge/Starter_Code/PyCitySchools/Resources/schools_complete.csv"

In [159]:
schoolfile_df = pd.read_csv(schoolfile)
schoolfile_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [149]:
#Total budget:
totalbudget = sum(schoolfile_df["budget"])
print(str(totalbudget) + "$")

24649428$

In [164]:
#Create a new DataFrame for the above calculations called district_summary
district_summary = pd.DataFrame({
    "Unique Schools": [uniqueschools],
    "Total Number of Students": [totalstudents],
    "Total Budget": (str(totalbudget) + "$"),
    "Average Math Score": [round(avmath, 1)],
    "Average Read Score": [round(avread, 1)],
    "% Students Who Passed Math": (str(mathpassperc) + "%"),
    "% Students Who Passed Read": (str(readpassperc) + "%"),
    "% Students Who Passed Math & Read": (str(fullpassperc) + "%")
})
district_summary

,Unique Schools,Total Number of Students,Total Budget,Average Math Score,Average Read Score,% Students Who Passed Math,% Students Who Passed Read,% Students Who Passed Math & Read
0,15,39170,24649428$,79.0,81.9,74.98%,85.81%,65.17%