In [1]:
import pandas as pd
import numpy as np

In [2]:
studentfile = "C:/Users/clara/Documents/GitHub/pandas-challenge/Starter_Code/PyCitySchools/Resources/students_complete.csv"

In [3]:
studentfile_df = pd.read_csv(studentfile)
studentfile_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
#Math Scores by Grade
mathbygrade = schoolfile_df.groupby(["school_name"]).mean()["math_score"].round(1)
#grreadmean_df = studentfile_df.groupby(["school_name"]).mean()["reading_score"].round(1)
mathbygrade

NameError: name 'schoolfile_df' is not defined